header {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fac3c6;
  padding-left: 30px;
  padding-right: 30px;
}

#nav__small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c8a2c9;
  width: 0px;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 4;
  gap: 25px;
  transition: all 0.5s;
  overflow: hidden;
}

#menu__button {
  display: flex;
  justify-content: center;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

#nav__large {
  display: none;
}

.social__links {
  display: none;
}

a {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon > img {
  width: 32px;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: flex-start;
}

.logo > img {
  width: 80px;
}

@media screen and (min-width: 600px) {
  header {
    background-color: #c2e89b;
  }

  #nav__large {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .social__links {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  #nav__small {
    display: none;
  }

  #menu__button {
    display: none;
  }
}
