* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 3rd section */

.phrase__image {
  position: relative;
  overflow: hidden;
  height: 350px;
}

.phrase__image img {
  width: 100%;
}

/* 6th section */

.instagram--feed {
  margin: 45px;
}

/*WhatsApp*/

.icon__whatsApp {
  width: 65px;
  height: 65px;
  border-radius: 90px;
  position: fixed;
  overflow: hidden;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 3;
}

.icon__whatsApp > img {
  width: 100%;
}
